<div class="w-full h-screen flex flex-col">

    <nav class="w-full  h-16 bg-[#0A2647] text-white flex flex-col justify-center px-4 ">
        <div class="flex gap-8">
            <h3>My job</h3>
            <ul class="flex gap-8">
                <li><a href="/main">Página inicial</a></li>
                <li><a href="/dashboard">Dashboard</a></li>
                <li><a href="/perfil">Perfil</a></li>
                <li><a href="/planos">Planos</a></li> 
                <li><a href="/modal">Modal</a></li> 
            </ul>
        </div>
    </nav>
    <div class= "bg-[#144272] h-full w-full">
        <router-outlet></router-outlet>
    </div>
    
</div>