<app-main>
    <div class="flex gap-x-10 justify-center items-center h-full w-full">

        <!-- card -->
        <div class="flex flex-col  h-1/2 w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
            <div class="flex  justify-center items-center flex-col gap-4 my-4 text-center">
                <h3>Basic</h3>
                <p class="text-red-400 font-mono text-3xl">$4.99</p>
                <div class="flex">
                    <p class="text-green-500 font-bold">1GB </p>
                    <p>storage</p>
                </div>
                <div class="flex">
                    <p class="text-green-500 font-bold">20GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400  mt-12 h-1/6 p-3 text-center  rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
         <!-- card -->
         <div class="flex flex-col  h-1/2 w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
            <div class="flex  justify-center items-center flex-col gap-4 my-4 text-center">
                <h3>Basic</h3>
                <p class="text-red-400 font-mono text-3xl">$4.99</p>
                <div class="flex">
                    <p class="text-green-500 font-bold">1GB </p>
                    <p>storage</p>
                </div>
                <div class="flex">
                    <p class="text-green-500 font-bold">20GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400  mt-12 h-1/6 p-3 text-center  rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
         <!-- card -->
         <div class="flex flex-col  h-1/2 w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
            <div class="flex  justify-center items-center flex-col gap-4 my-4 text-center">
                <h3>Basic</h3>
                <p class="text-red-400 font-mono text-3xl">$4.99</p>
                <div class="flex">
                    <p class="text-green-500 font-bold">1GB </p>
                    <p>storage</p>
                </div>
                <div class="flex">
                    <p class="text-green-500 font-bold">20GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400  mt-12 h-1/6 p-3 text-center  rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
    </div>

</app-main>