<app-main>
    <div class="flex relative justify-center h-full ">
        <h1 class="absolute inset-0 top-0">Planos</h1>
    </div>
    <div class=" gap-x-10 justify-center items-center h-full w-full font-mono md:flex">
        <!-- card -->
        <div class="flex flex-col  h-1/2 relative w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
           
            <div class="flex  absolute inset-0 justify-center items-center flex-col gap-3 my-4 text-center">
                <div class="absolute -top-1/4  border-1 ">
                    <img src="../../assets/foguete.png" height="100px" class="bg-slate-50 rounded-full " width="120px"> 
                </div>
                <h3>Basic</h3>
                <p class="text-red-400 font-mono text-3xl">$4.99</p>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">1GB</p>
                    <p>storage</p>
                </div>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">20GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400 h-1/6 p-3 text-center absolute inset-x-0 bottom-0 rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
        <!-- card -->
        <div class="flex flex-col  h-1/2 relative w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
            <div class="flex  absolute inset-0 justify-center items-center flex-col gap-3 my-4 text-center">
                <div class="absolute -top-1/4  border-1 ">
                    <img src="../../assets/foguete.png" height="100px" class="bg-slate-50 rounded-full " width="120px"> 
                </div>
                <h3>Basic +</h3>
                <p class="text-red-400 font-mono text-3xl">$7.99</p>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">5GB</p>
                    <p>storage</p>
                </div>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">30GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400 h-1/6 p-3 text-center absolute inset-x-0 bottom-0 rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
        <!-- card -->
        <div class="flex flex-col  h-1/2 relative w-1/6 bg-slate-50 text-black  rounded-md hover:shadow-2xl transition-all">
            <div class="flex  absolute inset-0 justify-center items-center flex-col gap-3 my-4 text-center">
                <div class="absolute -top-1/4  border-1 ">
                    <img src="../../assets/foguete.png" height="100px" class="bg-slate-50 rounded-full " width="120px"> 
                </div>
                <h3>Premium</h3>
                <p class="text-red-400 font-mono text-3xl">$19.99</p>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">100GB</p>
                    <p>storage</p>
                </div>
                <div class="flex gap-x-1">
                    <p class="text-green-500 font-bold">200GB </p>
                    <p>bandwidth</p>
                </div>
                <p>Email support</p>
            </div>
            <footer class="bg-red-400 h-1/6 p-3 text-center absolute inset-x-0 bottom-0 rounded-b-md text-white">
                <p>Subscribe</p>
            </footer>
        </div>
    </div>

</app-main>