<app-main>
    <div class="p-4  gap-4 w-full">
        <h3 class="text-gray-400 text-4xl"> <mat-icon class="" fontIcon="data_usage"></mat-icon>Dashboard</h3>


        <div class=" flex  flex-col gap-4 w-full h-1/2 border-2 border-slate-300 bg-white">
            <div class="border-b-2 p-3 border border-slate-300">
                <h3 class="text-3xl text-slate-600 ">Consumo de envios</h3>
            </div>
            

           <div class="flex gap-4 p-4 h-full">
            <div class="bg-gray-100 gap-2 w-1/4 flex flex-col items-center justify-center">
                <p>Contratado</p>
                
               <div class="flex flex-col items-center">
                <h2 class="text-5xl font-extrabold">1</h2>
                <p>Milhão</p>
              
               </div>
               <button class="bg-white p-1 border-2 rounded">Alterar plano</button>
            </div>
            <div class="bg-gray-100 gap-4 w-1/4 flex flex-col items-center justify-center">
                <p>Avulso</p>
                
               <div class="flex flex-col items-center">
                <h2 class="text-5xl font-extrabold">1</h2>
                
              
               </div>
               <button class="bg-white p-1 border-2 rounded">Contratar mais envios</button>
            </div>  <div class="bg-gray-100 gap-3 w-1/4 flex flex-col items-center justify-center">
                <p>Distribuido</p>
                
               <div class="flex flex-col items-center">
                <h2 class="text-5xl font-extrabold">10.743</h2>
               
              
               </div>
               <button class="bg-white p-1 border-2 rounded">Alterar plano</button>
            </div>  <div class="bg-gray-100 gap-3 w-1/4 flex flex-col items-center justify-center">
                <p class="text-slate-600">Disponivel</p>
                
               <div class="flex flex-col items-center">
                <h2 class="text-5xl font-extrabold text-slate-600">81%</h2>
                <p class="text-xs">109.893</p>
              
               </div>
          
            </div>
           </div>
        </div>
    </div>
</app-main>